<div class="row">
    <div class="column title">
        <h2><%= @room.name %></h2>
        <div id="msg-container">
        </div>  
        <div>
            <textarea id="msg-input"
                rows="3"
                placeholder="Comment...">
            </textarea>
            <button id="msg-submit" class="button column"
                type="submit">
              Post
            </button>
        </div>
    </div>
</div>
